			/* SNAKE */
			#tetris table { 
				border-collapse:collapse;
				margin: 2% auto;
			}

			#tetris tbody td { 
				border:1px solid black; 
				width: 25px;
				height: 25px;
			}

			#tetris thead th { 
				border:1px solid black; 
				text-align:center;
			}

			#tetris td.right {
				text-align:right;
			}

			#tetris td.left {
				text-align:left;
			}


			#tetris tfoot td { 
				font-size:x-small;
			}

			#tetris tfoot td span{ 
				color: darkblue;
				font-weight: bold;
			}			